option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FakeNewsDetection/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: FakeNewsDetection.settings
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

packages:
  python:
    scikit-learn: "1.5.1"

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
