option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FakeNewsDetection/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: FakeNewsDetection.settings
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

packages:
  python:
    scikit-learn: "1.5.1"

